@import url('./reset.css');

:root {
  --max-width: 1250px;
  --default-font-color: #ffffff;
  --default-background-color: #121212;
  --loader-background-color: #eeeeee;
  --loader-highlight-color: #dedede;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--default-background-color);
  color: var(--default-font-color);
}

section {
  max-width: var(--max-width);
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

button:disabled,
button[disabled] {
  pointer-events: none;
  cursor: none;
  background-color: #696969;
}