/* It hiddes scroll when modal is presented */
body:has(.modal) {
  overflow: hidden;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);

  .modal-container {
    display: flex;
    flex-flow: column;
    gap: 30px;
    background: rgb(54, 54, 54);
    width: 50vw;
    padding: 50px;
    border-radius: 10px;
    color: #fff;
    opacity: 0;
    animation: ShowModal .5s forwards ease;

    .modal-container__close {
      display: flex;
      justify-content: center;

      button {
        background-color: brown;
        padding: 10px 15px;
        border-radius: 15px;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

@keyframes ShowModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .modal {
    .modal-container {
      width: 75vw;
    }
  }
}

@media (max-width: 790px) {
  .modal {
    .modal-container {
      width: 100vw;
    }
  }
}