.post__header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
  cursor: pointer;

  img {
    border-radius: 100%;
    max-width: 40px;
    width: 100%;
  }
}

.profile {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .profile__name {
    font-size: 32px;
  }

  .profile__image {
    border-radius: 100%;
    max-width: 70px;
    width: 100%;
  }

  .profile__info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    p {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 15px;

      label {
        width: 60%;
        text-align: right;
      }

      input {
        text-align: right;
        float: right;
      }
    }
  }
}

@media(max-width: 790px) {
  .profile {
    .profile__name {
      font-size: 17px;
    }

    .profile__info {
      display: grid;
      overflow: scroll;
      max-height: 250px;
      font-size: 15px;

      p {
        line-height: 1;
        width: 100%;
        display: block;

        label {
          margin-left: 10px;
          float: right;
        }
      }
    }
  }
}